body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: space-between;
    margin: 3% 4%;
    align-items: center;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-item{
    margin-right: 3rem;
    margin-left: 3rem;
    list-style-type: none;
    font-size: 25px;
    color: black;
    font-weight: 400;
}
.intro-section{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2% 4%;
}
.right-section{
    position: relative;
}
.headphone-div{
    position: relative;
    top: -12px;
    right: 270px;
}
.discount{
    position: absolute;
    bottom: 83px;
    left: -64px;
}
.discount-content{
    position: absolute;
    color: white;
    bottom: 110px;
    left: -19px;
    font-family: 'Fredoka One', cursive;
}
.discount-content h1{
    margin-top: 0px;
    font-size: 3rem;
}
.discount-content h4{
    margin-bottom: 0px;
    margin-left: 16px;
}
.dots{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: -19%;
}
.dot{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.yellow-dot{
    background-color: yellow;
}
.tomato-dot{
    background-color: red;
}
.black-dot{
    background-color: black;
}
.action-btn{
    padding: 14px 25px;
    background: #e75734;
    color: white;
    border: none;
    border-radius: 32px;
    font-size: 20px;
}
.right-section button{
    margin-top: 5%;
    margin-left: -7%;
}
.left-section h3{
    display: flex;
    font-size: 2.5rem;
    align-items: center;
    font-weight: 100;
    margin-bottom: 0px;
}
img[alt="circles"]{
    margin-left: 3%;
}
.left-section h1{
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 5.7rem;
    margin-top: 10px;
}
.sub-headlines{
    margin-left: 10%;
}
.sub-headline{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 3%;
}
.sub-headline img{
    background-color: #e75734;
    padding: 5px;
    border-radius: 50%;
    margin-right: 26px;
}
.text{
    width: 80%;
    color: #c7c7c7;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width:1750px) and (min-width:1530px) {
    .left-section h1{
       font-size: 4.8rem; 
    }
}
@media screen and (max-width:1530px) and (min-width: 1330px){
    .left-section h1{
       font-size: 4rem; 
    }
    .headphone-div{
        right: 180px;
    }
    .dots{
        margin-left: -5%;
    }
    .right-section button{
        margin-left: 7%;
    }
}
@media screen and (max-width:1330px) and (min-width:1030px) {
    .left-section h1{
       font-size: 3rem; 
    }
    .sub-headline{
        font-size: 1.2rem;
    }
    .headphone-div{
        right: 40px;
    }
    .dots{
        margin-left: 18%;
    }
    .right-section button{
        margin-left: 32%;
    }
    .nav-items{
        display: none;
    }
}

@media screen and (max-width:1030px) and (min-width:768px) {
    .left-section h1{
       font-size: 3rem; 
    }
    .sub-headline{
        font-size: 1.2rem;
    }
    .headphone-div{
        right: -90px;
    }
    .dots{
        margin-left: 40%;
    }
    .right-section button{
        margin-left: 53%;
    }
    .nav-items{
        display: none;
    }
}

@media screen and (max-width:768px) and (min-width:300px) {
    .left-section h1{
       font-size: 3rem; 
    }
    .sub-headline{
        font-size: 1.2rem;
    }
    .headphone-div{
        right: 15px;
        top: 50px;
    }
    .intro-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .left-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .left-section h3{
        width: 100%;
        display: flex;
        justify-content: center;
    }
   .dots{
        margin-top: 10%;
        margin-left: 23%;
   }
   .right-section button{
    margin-left: 35%;
    }
    .nav-items{
    display: none;
    }
    nav{
        width: 100%;
    }
    nav .actions{
        display: none;
    }
}